<div class="content">


    <h1>Nesta área mostamos o nível do nosso barril de cerveja</h1>
    <p>Gostaria de tomar alguns copos da nossa cerveja?</p>

    <div class="BeerCups">
       
        Quantos copos?
        <input  (ng-model)="totalCopos" value="{{totalCopos}}"> 
        <button (click)="nivelCalcutations()">Get My Beer!</button>
    </div>

    <div class="showNivel" ng-if="totalCopos > 0">
        <fieldset>
            <p ng-model="litros">Ainda restam {{litros}} litros de cerveja!</p>
            <br/>
           Em quantos centimetros está o a cerveja: <h3 ng-model="nivelBaril">{{nivelBaril}}</h3>
        </fieldset>
        <fieldset>
            Vazão: <h3 ng-model="vazao">{{vazao}}</h3>
            <p ng-model="totalCopos">Seus {{totalCopos}} copos de cerveja foram enchidos em {{tempo}} segundos</p>
        </fieldset>
    </div>
</div>