<div class="temp-info">
    <div class="row">

    
        <div id="left" class="termometro">
            <div class="container">
                <div class="de">
                    <div class="den">
                    <div class="dene">
                        <div class="denem">
                        <div class="deneme">
                            23<span>.9</span><strong>&deg;</strong>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="right" class="content">
            <ul>
                <li>Limite superior -7</li>
                <li>Temperatura Ideal -6</li>
                <li>Limite Inferior -5&deg;</li>
            </ul>
        </div>

        <div class="clear"></div>
    </div>
</div>