<div>
    <h3>Projetos Relacionados</h3>


    <ul>
        <li><a href="http://www.instructables.com/id/How-to-use-DHT-22-sensor-Arduino-Tutorial/">Usando arduino e sensor DHT22</a></li>
        <li><a href="http://www.ppgia.pucpr.br/~santin/ee/2007/1s/3/">PucPR utiliza sensor LM35 para reproduzir o efeito peltier</a></li>
        <li><a href="http://efisica.if.usp.br/eletricidade/basico/termo/efeito_peltier/">Efeito peltier</a></li>
        <li><a href="http://www2.ifrn.edu.br/ojs/index.php/HOLOS/article/view/383">Experimento com Resfriamento de água</a></li>
       
    </ul>

</div>