<div class="banners">

    <div class="gallery">
        <a href="#beerArticle">
                <img [src]="img4" alt="história da cerveja" width="300" height="200">
              </a>
        <div class="desc">Saiba mais sobre a história da cerveja.</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="img_forest.jpg">
                <img [src]="img2" alt="cervejas populares" width="600" height="400">
              </a>
        <div class="desc">Descubra quais são as cervejas mais populares e tradicionais.</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="img_lights.jpg">
                <img [src]="img3" alt="Northern Lights" width="600" height="400">
              </a>
        <div class="desc">Como se tornar um mestre cervejeiro e ter sua própria cerveja caseira.</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="img_mountains.jpg">
                <img [src]="img1" alt="Mountains" width="600" height="400">
              </a>
        <div class="desc">Processo de fabricação da cerveja</div>
    </div>

</div>

<div class="clearfix"> </div>
<div>


</div>
<section>
    <article id="primeiroArtigo" class="first">
        <header>
            <a id="beerHistory">
                <h1>Uma breve história sobre a cerveja</h1>
            </a>
        </header>
        <section>
            <a id="beerArticle">Há cerca de 10 mil anos, o homem antigo descobriu, por acaso, o processo de fermentação, no que surgiram, em pequena escala, as primeiras bebidas alcoólicas. Mais tarde, a cerveja era produzida inicialmente pelos padeiros, devido a natureza dos ingredientes que utilizavam: leveduras e grãos de cereais. A cevada era deixada de molho até germinar e, então, moída grosseiramente, moldada em bolos aos quais se adicionava a levedura. Os bolos, após parcialmente assados e desfeitos, eram colocados em jarras com água e deixados fermentar.<br/>

                Há evidências de que a prática da cervejaria originou-se na região da Mesopotâmia onde a cevada cresce em estado selvagem. Os primeiros registros de fabricação de cerveja têm aproximadamente 6 mil anos e remetem aos Sumérios, povo mesopotâmico. A primeira cerveja produzida foi, provavelmente, um acidente. Documentos históricos mostram que em 2100 a.C. os sumérios alegravam-se com uma bebida fermentada, obtida de cereais. Na Suméria, cerca de 40% da produção dos cereais destinavam-se às cervejarias chamadas "casas de cerveja", mantida por mulheres. Os egípcios logo aprenderam a arte de fabricar cerveja e carregaram a tradição no milênio seguinte, agregando o líquido à sua dieta diária.

                A cerveja produzida naquela época era bem diferente da de hoje em dia. Era escura, forte e muitas vezes substituía a água, sujeita a todos os tipos de contaminação, causando diversas doenças à população. Mas a base do produto, a cevada fermentada, era a mesma.<br/> <br/>

                A expansão definitiva da cerveja se deu com o Império Romano, que se encarregou de levá-la para todos os cantos onde ainda não era conhecida. Júlio César era um grande admirador da cerveja e, em 49 a.C., depois de cruzar o Rubicão, ele deu uma grande festa a seus comandantes, na qual a principal bebida era a cerveja. A César também é atribuída a introdução de cerveja entre os britânicos, pois quando ele chegou à Britânia, esse povo apenas bebia leite e licor de mel. Através dos romanos a cerveja também chegou à Gália, hoje a França.

                E foi aí que a bebida definitivamente ganhou seu nome latino pelo qual conhecemos hoje. Os gauleses denominavam essa bebida de cevada fermentada de “cerevisia” ou “cervisia” em homenagem a Ceres, deusa da agricultura e da fertilidade. <br/> <br/>

                Na Idade Média, os conventos assumiram a fabricação da cerveja que, até então, era uma atividade familiar, como cozer o pão ou fiar o linho. Pouco a pouco, à medida que cresciam os aglomerados populacionais e que se libertavam os servos, entre os séculos VII e IX, começaram a surgir artesãos cervejeiros, trabalhando principalmente para grandes senhores e para abadias e mosteiros. O monopólio da fabricação da cerveja até por volta do século XI continuou com os conventos que desempenhavam relevante papel social e cultural, acolhendo os peregrinos de outras regiões. Por isso, todo monastério dispunha de um albergue e de uma cervejaria. Os monges por serem os únicos que reproduziam os manuscritos da época, puderam conservar e aperfeiçoar a técnica de fabricação da cerveja.

                Com o aumento do consumo da bebida, os artesãos das cidades começaram também a produzir cerveja, o que levou os poderes de públicos a se preocupar com o hábito de se beber cerveja. As tabernas ou cervejarias eram locais onde se discutiam assuntos importantes e muitos negócios concluíam-se entre um gole e outro de cerveja. A partir do séc. XII pequenas fábricas foram surgindo nas cidades européias e com uma técnica mais aperfeiçoada, os cervejeiros já sabiam que a água tinha um papel determinante na qualidade da cerveja. Assim a escolha da localização da fábrica era feita em função da proximidade de fontes de água muito boa.

                Com a posterior invenção de instrumentos científicos (termômetros e outros), bem como o aperfeiçoamento de novas técnicas de produção, o que bebemos hoje é uma agregação de todas as descobertas que possibilitaram o aprimoramento deste nobre líquido.
                            </a>
        </section>
    </article>
    <article class="second">
        <header>
            <h1>Cervejas Populares</h1>
        </header>
        <section>
            <br/><br/>Uma das bebidas mais populares do planeta, a cerveja pode ser encontrada praticamente no mundo todo
            e a maioria dos países possui alguma produção local. Isso quer dizer que se alguém aceitar o desafio de conhecer
            todas as nações produtoras de cerveja terá que se preparar para uma longa jornada! Por outro lado, há países
            que merecem maior atenção, seja pela tradição, pela qualidade do que produzem ou, pelo menos, pelo tamanho do
            mercado consumidor. Quer conhecer alguns países com tradição cervejeira? Preparamos uma lista com 7 dos que merecem
            maior destaque nesse universo. Confira!
            <br/><br/>
            <h2>Alemanha</h2>

            Claro, quando alguém fala em cerveja logo os alemães vêm à mente. Segundo o site de notícias alemão DW, estima-se que o país
            tenha hoje mais de 1200 cervejarias de todos os portes que produzem mais de 5000 marcas diferentes. Lá, as regiões
            produtoras de Karlsruhe, Colônia, Hamburgo, Berlim, Nuremberg e Munique, onde ocorre a tradicional Oktoberfest,
            merecem especial atenção.

            <br/><br/>
            <h2>República Tcheca</h2>

            É lá que fica a região de Pilsner onde se originou o tipo de cerveja que alcançou fama no mundo todo, inclusive no Brasil.
            Os tchecos também são os maiores bebedores de cerveja do mundo em termos de consumo per capta.
            <br/><br/>
            <h2>Bélgica</h2>

            Na Bélgica está sediada a Interbrew, fabricante da Stella Artois, que se uniu à brasileira Ambev e à norte-americana Anheuser-Busch,
            dona da marca Budweiser, para formar a AB InBev, a maior cervejaria do mundo — que domina mais de 20% do mercado
            do planeta. No país, está a maior parte das cervejarias controladas por monges da Ordem Trapista, que produzem
            cervejas de qualidade excepcional, fabricadas em pequena escala e de forma tradicional. Merecem destaque os estados
            de Flandres, Bruxelas e Valônia.
            <br/><br/>
            <h2>Japão</h2>

            Sim, o Japão já merece ser incluído nessa lista, uma vez que é lá que estão as fábricas da Sapporo e da Yebisu, duas das
            marcas asiáticas de maior destaque.
            <br/><br/>
            <h2>China</h2>

            Ainda que uma cerveja ancestral tenha sido consumida na China há 9.000 anos e que o país possua algumas marcas tradicionais,
            ele entra nessa lista muito mais porque é hoje o maior mercado consumidor do mundo.
            <br/><br/>
            <h2>Estados Unidos</h2>

            Considerando o volume total de cerveja consumida, os norte-americanos ficam com a vice-liderança no ranking mundial. O país
            possui forte tradição cervejeira e vai muito além da Budweiser, produzindo uma infinidade de outras marcas de
            alto nível. Além disso, vem se dedicando à expansão das microcervejarias. Nova York, Centro-Oeste, Montanhas
            Rochosas, Califórnia e Havaí são regiões que merecem atenção.
            <br/><br/>
            <h2>Brasil</h2>

            Não é por mero patriotismo que devemos incluir o Brasil nessa lista, afinal, a cerveja está presente no país desde os tempos
            coloniais e hoje formamos o terceiro maior mercado consumidor do mundo. Além disso, se por um lado há a forte
            presença de capital brasileiro na AB InBev, a maior cervejaria do planeta, por outro as microcervejarias têm
            garantido um altíssimo nível de qualidade na produção nacional. Não é por acaso que no ano passado a mineira
            Wäls recebeu dois prêmios no World Beer Cup, o evento mundial de cerveja mais importante que existe. Foi medalha
            de ouro na categoria cervejas belgas estilo dubbel, com a Wäls Dubbel, e medalha de prata com a Wäls Quadruppel,
            na categoria cervejas belgas de outros estilos. De fato, muitos outros países também merecem entrar nessa lista
            e citamos de passagem a Áustria, a Suíça e Luxemburgo, e até países com maior tradição vinícola, como a Itália
            e a França. De qualquer maneira, seja qual for o país, sempre vale garimpar uma cerveja local nem que seja por
            curiosidade. E você, conhece outro país que tenha boa tradição cervejeira? Aproveite para aprender também como
            diferenciar a boa cerveja artesanal das industrializadas e faça da sua próxima degustação uma experiência ainda
            mais saborosa!
            <br/><br/>
        </section>
    </article>

    <article class="third">
        <header>
            <h1>Como se tornar um cervejeiro e deixar sua marca</h1>
        </header>
        <section>
            Diferente do que imaginamos fazer cerveja é muito fácil! <br/> Para quem esta começando é natural pesquisar,
            buscar informações em muitos lugares, contudo existem vários meios e métodos diferentes para a produção de cerveja
            artesanal. Com Kits e maquinários diferentes! O importante é conhecer o conceito da fabricação de cerveja até
            você se sentir seguro e com um processo especifico e dar inicio a seu hobby, até que se torne prático pra você.
            Vamos entender um pouco mais do conceito para a fabricação de cerveja artesanal.<br/> Certifique-se de que todo
            o equipamento para a produção esteja em ordem, a higiene é muito importante, você precisa ter todo o *Kit para
            fabricar cerveja artesanal* à mãos, devidamente *higienizados e esterilizados*.

            <br/>Alem do Seu Kit Mestre Cervejeiro você ira precisar de mais 4 ingredientes básicos para fazer cerveja em
            casa: ingredientes: Água – Malte – Lúpulo – Fermento <br/>



        </section>
    </article>


    <article class="forth">
        <header>
            <h1>Entenda como o processo de fabricação da cerveja funciona</h1>
        </header>
        <section>
            <p>Produzir cerveja requer três processos básicos: mostura, fervura e fermentação. Os dois primeiros geralmente
                ocorrem no mesmo dia. Já a fermentação dura de uma a algumas semanas. A seguir, uma descrição resumida de
                cada processo. </p>
            <img id="beerTutorial" [src]="fabImg" img>
            <br/>
            <h2>Resumindo o passo a passo</h2>
            <br/>
            <ul>
                <li> O cervejeiro combina vários tipos de grãos de malte de cevada, de acordo com a sua receita.</li>
                <li> O malte de cevada é rachado e aberto com a ajuda de um moedor, expondo amidos solúveis.</li>
                <li> O malte é levado a um recipiente e uma reacção enzimática provocada pela adição de água quente converte amidos
                    solúveis em açúcares fermentáveis.</li>
                <li>As cascas dos grãos usados são separados do mosto através de um método simples de filtragem através da utilização
                    de um fundo falso em um novo recipiente, onde a cerveja será despejada.
                </li>
                <li>O mosto é aquecido a uma temperatura de fervura específica, também respeitando a receita escolhida. Os lúpulos
                    de amargos são adicionados no início da fervura, os de aroma são adicionados no final.
                </li>
                <li> Um redemoinho separa o mosto das proteínas sólidas presentes no líquido.</li>
                <li> O mosto deve ser rapidamente resfriado para a temperatura de fermentação adequada, através de um trocador
                    de calor com o qual é colocado em contato.
                </li>
                <li>
                    A levedura é colocada no tanque de fermentação para converter açúcares no mosto em álcool e dióxido de carbono (gás da cerveja).
                </li>
                <li> Recém fermentada, a cerveja é freqüentemente resfriada durante o processo de condicionamento.
                </li>
                <li>
                    Algumas cervejas são filtradas para remover as proteínas sólidas.</li>
                <li> A cerveja filtrada é transferida para outro tanque, de onde partirá para o envasamento.</li>
                <li> Uma filtragem estéril opcional ou a pasteurização neutraliza qualquer levedura viva na cerveja antes do envase.</li>
                <li>As garrafas são preenchidas em uma linha de engarrafamento.</li>
            </ul>







        </section>
    </article>
</section>